/* UpdateForm.css */
.update-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.update-form {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  max-width: 500px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}

.update-form h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.update-form div {
  margin-bottom: 15px;
}

.update-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.update-form input[type='text'],
.update-form textarea {
  width: 100%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.update-form button {
  padding: 8px 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.update-form button:hover {
  background-color: #45a049;
}



.post-button {
  padding: 8px 12px;
  margin-left: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.post-button.delete {
  background-color: #f44336;
}
  
.post-button.delete:hover {
  background-color: #d32f2f;
}
 
