.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


/* PostList.module.css */
.post-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post-card {
  background-color: #f4f4f4;
  display: flex;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  width: 300px;
}

.post-card h3 {
  margin-top: 0;
}

.post-card p {
  margin-bottom: 0;
}
/* Post.css */

.post-content {
  flex: 1;
  padding: 20px;
   display: flex; /* Add this */
  flex-direction: column; /* Add this */
  justify-content: space-between; /* Add this */
}

.post-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.post-body {
  font-size: 16px;
  margin-bottom: 20px;
}

.post-buttons {
   
    
  display: flex;
  margin-top: 3rem;
  justify-content: flex-end;
}

.post-button {
  padding: 8px 12px;
  margin-left: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.post-button.delete {
  background-color: #f44336;
}

.post-button.update {
  background-color: #2196f3;
}

.post-button:hover {
  background-color: #45a049;
}

.post-button.delete:hover {
  background-color: #d32f2f;
}

.post-button.update:hover {
  background-color: #1976d2;
}


/* PostsPage.css */
.posts-page {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-color: #f5f5f5; /* Set a background color for the page */
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff3c6c, #00d4ff, #ffd500, #00ff00);
  background-size: 600% 600%;
  animation: backgroundAnimation 20s ease-in-out infinite;
  opacity: 0.3; /* Adjust the opacity to control the transparency */
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.content-wrapper {
  z-index: 1;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
}

.button-container {
  margin-top: auto;
  text-align: center;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

 
